body {
  background-color: black;
}

#canvas-svg {
  float:left;
  width: 55%;
  display: flex;
  flex-wrap: wrap;
}

#barchart {
  float:right;
  width: 45%;
  display: flex;
  flex-wrap: wrap;
}

#wordcloud {
  float:left;
  width: 55%;
  display: flex;
  flex-wrap: wrap;
}

.tick {
  opacity: 1;
  stroke: #FFFAFA;
}

.axis text{
  font-size: 15;
  opacity: 1;
}

.axis line {
  stroke: #FFFAFA;
}

#show form {
  margin: 0 auto;
  max-width: 320px;
}

#show-details input {
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 10px;
  font-size: inherit;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: 0;
}
