body {
  background-color: black;
}

#totalbar {
  float:left;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

#bubbleDiv {
  float:right;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

#reset {
  position: fixed;
  left: 30px;
  bottom: 30px;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #FFFAFA;
  background-image: url('reset.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: 0;
}

#sort {
  position: fixed;
  left: 30px;
  bottom: 100px;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #60ac5d;
  background-image: url('sort.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: 0;
}
