
.info-title {
  font-size: 1.0em;
  margin-top: 10px;
}
.info-content {
  font-size: 1.0em;
  color: #999;
}

.list {
  padding: 20px;
  background: white;
  display: flex;
}

@media (min-width: 600px) {
  .list {
    margin: 20px;
    border: 1px solid #d5d8df;
    border-radius: 4px;
  }
}

.list-details {
  padding-left: 20px;
  border-left: 1px solid #eee;

  flex: 1;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.list-details p {
  margin: 0;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
