body {
  background-color: black;
}
#container, .left, .right {
    height: 80%;
}

#container {
  width:100%;
}

#container .left {
  position: relative;
  float: left;
  width: 40%;
  height: 1000px;
}

#container .right{
  position: relative;
  float: right;
  width: 60%;
  /*margin-left: 10px;*/
}

#container .top{
  position: absolute;
  top: 0;
  margin-left: 10%;
}

#container .bottom{
  position: absolute;
  bottom: 0;
  margin-left: 20%;
  margin-bottom: 40%;
}
.tick {
  opacity: 1;
  stroke: #FFFAFA;
}

.axis text{
  font-family: "sans serif";
  font-size: 30;
}

.axis line {
  stroke: #FFFAFA;
}
